{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

{% endblock %}


      <!--<input type='file' id='read_file' />-->
<!--<div id="container">-->
<!--    <img src="something.jpg" alt="" />-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--(function() {-->

<!--var img = document.getElementById('container').firstChild;-->
<!--img.onload = function() {-->
<!--    if(img.height > img.width) {-->
<!--        img.height = '100%';-->
<!--        img.width = 'auto';-->
<!--    }-->
<!--};-->

<!--}());-->
<!--</script>-->